.display {
  padding:150px 0 6vh;
  font-family: Open Sans, sans-serif;
  vertical-align: baseline;
  display: flex;
  justify-content: space-between;
}

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background-color: #ab2a19;
  z-index: 2;
  display: inline-block;
  
}


.header-h1 {
  position: absolute;
  top: 35px;
  left: 150px;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

.form {
  position: fixed;
  left: 61vw;
  top: 150px;
  width: 450px;
  height: 520px;
  padding: 15px;
  margin: 10px auto;
  border-radius: 7px;
  background-color: #3ad886;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  align-content: center;
}

img {
  width: 320px;
  height: 200px;
  margin: 0 auto;
}

.dashboard {
  width: 475px;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 25px;
  left: 75px;
}

.product {
  padding: 15px;
  border-radius: 7px;
  background-color: #d34735;
  margin: 10px 0;
  display: flex;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-box {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  margin-left: 10px;
}

.product-button-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 10px;
}

button {
  padding: 10px;
  border-radius: 7px;
  border: none;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.product-button {
  background-color: #3ad886;
  margin: 0 30px;
}

.form-button {
  background-color: #ed6b5a;
}

